.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    position: relative;
    margin: 100px;
}

.box{
    width: 300px;
    height: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.box1{
    background-color: blue;
}

.box2{
    background-color: rgb(236, 26, 26);
}


.box3{
    background-color: yellow;
}

.example1 .box1{
    position: relative;
    z-index: 1;
    bottom: 100px;
    right: 100px;
}


.example1 .box2{
    position: absolute;
    z-index: 11;
    top: 50px;
    left: 50px;
}

.example1 .box3{
    position: relative;
    z-index: 1;
    top: 170px;
    right: 100px;
}



/* 
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Igor-Lysak/dz7.git
git push -u origin main */

/* git remote add origin https://github.com/Igor-Lysak/dz7.git
git branch -M main */
/* git push -u origin main */




